@font-face {
    font-family: "Nunito Sans", sans-serif;
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yeseva One", cursive;
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.header {
    background-color: #131313;
}

.header__top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-basis: content;
    height: 73px;
    padding: 24px 90px 22px 92px;
}

.header__logo {}

@media (max-width: 1300px) {
    .header__top {
        padding: 18px;
    }
    .header__nav {
        display: none;
    }
}

/*@media (min-width: 1024px) {

    .header__top {
       padding: 24px 90px 22px 92px;
    }
}

@media (min-width: 1290px) {
    .header__nav {
        display: flex;
    }
}*/

.nav {
    width: auto;
}

.nav__list {
    list-style: none;
    text-align: center;
}

.nav__item {
    margin: 23px;
    display: inline;
}

.nav__link {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link_orange {
    color: #E3B873;
}

.nav__item:nth-of-type(1) {
    margin-left: 0px;
}

.nav__item:nth-last-of-type(1) {
    margin-right: 0px;
}

.header__callback {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}

.header__cell {
    color: #E3B873; 
    text-align: right;
    text-decoration: underline;
    margin: 0px 20px;
}

.header__button {
    display: none;
    background-color: #E3B873;
    font-style: italic;
    text-transform: uppercase;
    padding: 13px 33px;
    margin: 0px 25px;
    border-style: none;
    border-radius: 2px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

/* @media (min-width: 768px) {
    .header__button {
        display: block;
    }
} */

.hero {
    position: relative;
    background: url('../images/hero_rectangle.jpg') center no-repeat;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 707px;
    padding: 194px;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 0;
}

.general__heading {
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
}

.hero__title {
    margin: 0px 0px 10px;
    z-index: 2;
}

.hero__title_orange{
    color: #E3B873;
}

.hero__text {
    font-size: 22px;
    color: #FFFFFF;
    margin: 9px 0px 21px;
    font-weight: 400;
    line-height: 36px;
    z-index: 2;
}

.hero-cost {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 3;
}

.hero__button {
    position: relative;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 2px;
    height: 51px;
    width: 207px;
    margin: 0px 20px 0px 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    z-index: 3;
}

.hero__button_orange {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0px solid #E3B873;
    z-index: 3;
}

.projects {
    background: #131313;
    position: relative;
    background-size: cover;
}

.projects__container {
    display: flex;
    flex-direction: row;
    padding: 107px 135px 416px;
}

.projects__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px 0px 0px;
}

.projects__title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin: 0px 0px 20px 0px;
}

.projects__text {
    /* font-family: 'Nunito Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects__about {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(2, 90px);
    grid-gap: 34px;
    margin: 42px 0px 0px;
}

.projects__name {
    font-size: 18px;
    line-height: 25px;
}

.projects__text_small {
    font-size: 13px;
    line-height: 21px;
    margin: 0px 0px 9px 0px;
}

.projects__slider {
    
    margin: 47px;
}

.projects__list {
    list-style: none;
    text-align: left;
}

.projects__item {
    display: inline;
    padding: 0px 0px 6px;
    margin: 0px 61px 0px 0px; 
}

.projects__picture {
    display: flex;
    flex-direction: column;
}

.projects__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}

.projects__link:nth-of-type(1) {
    color: #E3B873;
}

.projects__item:nth-last-of-type(1) {
    margin: 0px; 
}